
<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
<div class="container-fluid main_menu">
    {{>navbar}}
</div>
<div class="container-fluid">
    <div class="row">
        <div class=" col-12 main_header_left  mx-auto align-items-center">
            <img src="images/404.png" alt="Koushik's Photo" class="img-fluid my_image"><br>
            <p>Welcome to weather app</p>
            <h1 >Oops page not found</h1>
            <a href="/"><button >Back to home</button></a>

        </div>


    </div>
</div>

{{>footer}}
</body>
</html>