
<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
<div class="container-fluid main_menu">
    {{>navbar}}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5  col-12 main_header_left ab_h_left ml-auto">
            <p>Welcome to weather app</p>
            <h1>i am a full stack developer</h1>

            <a href="#"><button >About me</button></a>

        </div>
        <div class="col-md-5  col-12 main_header_right ab_h_right mr-auto">
            <img src="images/me.png" alt="Koushik's Photo" class="img-fluid my_image">
        </div>

    </div>
</div>

{{>footer}}
</body>
</html>